:root {
    --primary-light: #8e8aff;
    --primary: #655dff;
    --primary-dark: #4f46f8;
    --secondary: #17c9ff;
    --alert: #ff6a96;
    --greyLight-1: #e0ecf7;
    --greyLight-2: #c8dbf0;
    --greyDark-1: #92acc4;
    --greyDark-2: #5a768f;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-y: scroll;
    background: var(--greyLight-1);
    font-family: 'Nunito', sans-serif;
    letter-spacing: .03rem;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment {
    width: 74.8rem;
    height: 48rem;
    border-radius: .8rem;
    background: #ffffff;
    display: grid;
    grid-template-columns: 32rem 24.8rem;
    padding: 4rem 6rem;
    grid-gap: 6rem;
    align-items: center;
    position: relative;
    &__dots

{
    position: absolute;
    top: .5rem;
    left: 4rem;
}

&__shadow-dots {
    position: absolute;
    top: .5rem;
    left: 4rem;
    width: 6.5rem;
    height: 11.5rem;
    background: linear-gradient(to bottom, #e0ecf700 0%, #ffffff 100%);
    z-index: 200;
}

}

.card {
    grid-column: 1 / 2;
    width: 32rem;
    height: 20rem;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 0 2rem;
    align-items: center;
    color: #ffffff;
    background: linear-gradient(to bottom, var(--secondary) 0%, var(--primary) 50%);
    box-shadow: -.6rem .6rem 1.8rem #4f46f83d;
    border: 1px solid #ffffff;
    z-index: 200;
    position: relative;
    &__visa

{
    justify-self: flex-end;
    grid-column: 2 / 3;
    overflow: hidden;
    width: 5.5rem;
}

&__number {
    font-family: 'Roboto Mono', monospace;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 1.8rem;
    letter-spacing: .12rem;
}

&__name {
    grid-row: 3 / 4;
    h3

{
    font-size: .9rem;
    text-transform: uppercase;
    margin-bottom: .8rem;
    font-weight: 300;
}

p {
    font-size: 1.4rem;
}

}

&__expiry {
    grid-row: 3 / 4;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h3

{
    font-size: .9rem;
    text-transform: uppercase;
    margin-bottom: .8rem;
    font-weight: 300;
}

p {
    font-size: 1.4rem;
}

}
}

.form {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 11rem);
    grid-template-rows: repeat(5, min-content);
    grid-column-gap: 2.8rem;
    grid-row-gap: 1.2rem;
    color: var(--greyDark-2);
    h2

{
    font-size: 2rem;
    grid-column: 1 / 3;
    line-height: 1;
    margin-bottom: 1.4rem;
    font-family: 'Inter', sans-serif;
}

&__detail {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding-bottom: .6rem;
    color: var(--greyDark-1);
}

&__name {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: stretch;
}

&__number {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    justify-self: stretch;
}

&__expiry {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

&__cvv {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: flex-end;
    width: 100%;
    input [type=checkbox]

{
    display: none;
}

.info {
    top: -.4rem;
    left: 2.4rem;
    color: var(--greyDark-1);
}

}

&__btn {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    height: 3.8rem;
    border-radius: .6rem;
    border: none;
    background: var(--primary);
    color: #ffffff;
    justify-self: stretch;
    font-family: inherit;
    font-size: 1.6rem;
    cursor: pointer;
    &:focus

{
    outline: none;
}

&:hover {
    background: var(--primary-dark);
}

}

ion-icon {
    position: absolute;
    font-size: 2rem;
    top: 3.4rem;
    margin-left: 1rem;
    color: var(--primary-light);
    stroke: var(--primary);
}

label {
    pointer-events: none;
    font-size: 1.4rem;
    padding: 0 0 1rem 0;
    line-height: 1;
    color: var(--greyDark-1);
}

input {
    padding: 1rem 1rem 1rem 4rem;
    border: none;
    background: transparent;
    border-radius: .6rem;
    border: 1px solid var(--greyLight-2);
    color: var(--greyDark-2);
    font-family: inherit;
    font-size: 1.4rem;
    &::placeholder

{
    color: var(--greyLight-1);
    font-size: inherit;
    letter-spacing: .12rem;
}

&:focus {
    outline: none;
}

&:hover {
    border: 1px solid var(--primary-light);
}

}
}

.alert {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    color: var(--alert);
    margin-top: .6rem;
    display: flex;
    align-items: center;
    opacity: 0;
    svg

{
    margin-right: .4rem;
}

}

.dribbble {
    position: fixed;
    font-size: 36px;
    right: 20px;
    bottom: 20px;
    color: #EA4C89;
}
