
@{
    ViewBag.Title = "admin_login";
}
@{
    Layout = null;
}
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous" />
<link href="~/Content/admin.css" rel="stylesheet" />
<div class="login">
    <br /><br /><br />
    <h2 class="text-center">Admin Login</h2>
    <br /><br />
    <br /><br />
    <div class="container">
        <div class="myform">
            <!-- Login Form Starts Here -->
            <form action="" method="POST">
                Username: <br />
                <input type="text"
                       name="username"
                       placeholder="Enter Username" /><br /><br />

                Password: <br />
                <input type="password"
                       name="password"
                       placeholder="Enter Password" /><br /><br />

                <input type="submit"
                       name="submit"
                       value="Login"
                       class="btn-primary" />
                <br /><br />
            </form>
        </div>
        <div class="image">
            <img src="../images/image.jpg" />
        </div>
    </div>
    <!-- Login Form Ends Here -->
</div>

