
@{
    ViewBag.Title = "gallery";
}
<link href="~/Content/gallery_style.css" rel="stylesheet" />
    <div class="inner-banner" >

        <div class="inner">
            <h2>Gallery</h2>
            <div class="breadcrumb-list-wrap">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li>Gallery</li>
                </ul>
            </div>
        </div>

    </div>

    <section class="pt-0">
        <div class="container">
            <div class="menuslide-nav">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Photos</button>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div id="menuslide" class="menuslide carousel slide" data-bs-ride="carousel">
                        <div class="grid" style="position: relative; height: 1498.01px;">
                            <div class="grid-sizer"></div>
                            <div class="grid-sizer"></div>
                            <div class="grid-item" style="position: absolute; left: 0%; top: 0px;">
                                <div class="gallery-img">
                                    <img src="~/Content/index_img/1.jpg" class="d-block w-100" alt="DishDash img">
                                </div>
                            </div>
                            <div class="grid-item" style="position: absolute; left: 25%; top: 0px;">
                                <div class="gallery-img">
                                    <img src="~/Content/index_img/2.jpg" class="d-block w-100" alt="DishDash img">
                                </div>
                            </div>
                            <div class="grid-item" style="position: absolute; left: 50%; top: 0px;">
                                <div class="gallery-img">
                                    <img src="~/Content/index_img/3.jpg" class="d-block w-100" alt="DishDash img">
                                </div>
                            </div>
                            <div class="grid-item" style="position: absolute; left: 75%; top: 0px;">
                                <div class="gallery-img">
                                    <img src="~/Content/index_img/4.jpg" class="d-block w-100" alt="DishDash img">
                                </div>
                            </div>
                            <div class="grid-item" style="position: absolute; left: 25%; top: 159.578px;">
                                <div class="gallery-img">
                                    <img src="~/Content/index_img/5.jpg" class="d-block w-100" alt="DishDash img">
                                </div>
                            </div>
                            <div class="grid-item" style="position: absolute; left: 0%; top: 187px;">
                                <div class="gallery-img">
                                    <img src="~/Content/index_img/6.jpg" class="d-block w-100" alt="DishDash img">
                                </div>
                            </div>
                            <div class="grid-item" style="position: absolute; left: 50%; top: 187px;">
                                <div class="gallery-img">
                                    <img src="~/Content/index_img/7.jpg" class="d-block w-100" alt="DishDash img">
                                </div>
                            </div>
                            <div class="grid-item" style="position: absolute; left: 75%; top: 187px;">
                                <div class="gallery-img">
                                    <img src="~/Content/index_img/8.jpg" class="d-block w-100" alt="DishDash img">
                                </div>
                            </div>
                            <div class="grid-item" style="position: absolute; left: 0%; top: 374px;">
                                <div class="gallery-img">
                                    <img src="~/Content/index_img/9.jpg" class="d-block w-100" alt="DishDash img">
                                </div>
                            </div>
                            <div class="grid-item" style="position: absolute; left: 75%; top: 374px;">
                                <div class="gallery-img">
                                    <img src="~/Content/index_img/10.jpg" class="d-block w-100" alt="DishDash img">
                                </div>
                            </div>
                            <div class="grid-item" style="position: absolute; left: 50%; top: 374.109px;">
                                <div class="gallery-img">
                                    <img src="~/Content/index_img/11.jpg" class="d-block w-100" alt="DishDash img">
                                </div>
                            </div>
                            <div class="grid-item" style="position: absolute; left: 0%; top: 561px;">
                                <div class="gallery-img">
                                    <img src="~/Content/index_img/12.jpg" class="d-block w-100" alt="DishDash img">
                                </div>
                            </div>
                            <div class="grid-item" style="position: absolute; left: 50%; top: 561.109px;">
                                <div class="gallery-img">
                                    <img src="~/Content/index_img/13.jpg" class="d-block w-100" alt="DishDash img">
                                </div>
                            </div>
                            <div class="grid-item" style="position: absolute; left: 25%; top: 565.328px;">
                                <div class="gallery-img">
                                    <img src="~/Content/index_img/14.jpg" class="d-block w-100" alt="DishDash img">
                                </div>
                            </div>
                            <div class="grid-item" style="position: absolute; left: 75%; top: 648.5px;">
                                <div class="gallery-img">
                                    <img src="~/Content/index_img/15.jpg" class="d-block w-100" alt="DishDash img">
                                </div>
                            </div>
                            <div class="grid-item" style="position: absolute; left: 0%; top: 748px;">
                                <div class="gallery-img">
                                    <img src="~/Content/index_img/16.jpg" class="d-block w-100" alt="DishDash img">
                                </div>
                            </div>
                            <div class="grid-item" style="position: absolute; left: 50%; top: 748.031px;">
                                <div class="gallery-img">
                                    <img src="~/Content/index_img/17.jpg" class="d-block w-100" alt="DishDash img">
                                </div>
                            </div>
                            <!-- Add more grid items as needed -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>



