
@{
    ViewBag.Title = "storelocator";
}
<link href="~/Content/store_locator_style.css" rel="stylesheet" />
<div class="inner-banner">
    <div class="inner">
        <h2>Store Locator</h2>
        <div class="breadcrumb-list-wrap">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li>Store Locator</li>
            </ul>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <h2 class="main-title">FIND OUR STORE</h2>

        <div class="accordion mt-3 mt-md-5" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header accordion-header-icon" data-bs-toggle="collapse" data-bs-target="#store1" aria-expanded="true" aria-controls="store1">
                    <div class="icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg></div>
                    RAJKOT
                </h2>

                <div id="store1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="store-box-wrap">
                            <div class="item">
                                <div class="store-box">
                                    <h4>MARWADI UNIVERSITY</h4>
                                    <p>Rajkot-Morbi Road, Rajkot</p>
                                    <div class="map-link"><a href="https://g.page/marwadi-university-rajkot" target="_blank">See Map</a></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="store-box">
                                    <h4>HOUSE OF DishDash</h4>
                                    <p>Akshar Marg, Near Krunchy Republic Hotel, Rajkot</p>
                                    <div class="map-link"><a href="https://g.page/house-of-size-zero" target="_blank">See Map</a></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="store-box">
                                    <h4>PFM (PANAM FOOD MALL)</h4>
                                    <p>Panam Food Mall, Rajkot-Jamnagar Highway, Nr. Taraghadi Village, Ta.- Padadhari, Rajkot</p>
                                    <div class="map-link"><a href="https://goo.gl/maps/ofSpm4hY7ra8v8B26" target="_blank">See Map</a></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="store-box">
                                    <h4>ROOF TOP LOUNGE</h4>
                                    <p>Samarath Plaza,Above Rajkot Dist., Opp. Reliance Mall, 150 Ft Ring Road, Rajkot</p>
                                    <div class="map-link"><a href="https://goo.gl/maps/vVuBiUy4475bPAhV9" target="_blank">See Map</a></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="store-box">
                                    <h4>KALAWAD ROAD</h4>
                                    <p>Near Drive in Cinema, Virada, Vajdi, Gujarat 360005</p>
                                    <div class="map-link"><a href="https://goo.gl/maps/LnjfNrVgKAqjmpMD7" target="_blank">See Map</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header accordion-header-icon" data-bs-toggle="collapse" data-bs-target="#store2" aria-expanded="false" aria-controls="store2">
                    <div class="icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg></div>
                    JAMNAGAR
                </h2>

                <div id="store2" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="store-box-wrap">
                            <div class="item">
                                <div class="store-box">
                                    <h4>JAMNAGAR</h4>
                                    <p>'Cozy Hill' -101, Opposite to CCD, P N Marg, Jamnagar</p>
                                    <div class="map-link"><a href="https://g.page/size-zero-cafe---jamnagar" target="_blank">See Map</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header accordion-header-icon" data-bs-toggle="collapse" data-bs-target="#store3" aria-expanded="false" aria-controls="store3">
                    <div class="icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg></div>
                    MORBI
                </h2>

                <div id="store3" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="store-box-wrap">
                            <div class="item">
                                <div class="store-box">
                                    <h4>MORBI</h4>
                                    <p>Ground Floor, Tulsi Complex, Avni Chowkdi, Ravapar, Canal Road, Morbi 363 641</p>
                                    <div class="map-link"><a href="https://goo.gl/maps/rv3B7mmzR33VV4J8A" target="_blank">See Map</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header accordion-header-icon" data-bs-toggle="collapse" data-bs-target="#store4" aria-expanded="false" aria-controls="store4">
                    <div class="icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg></div>
                    BHUJ
                </h2>

                <div id="store4" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="store-box-wrap">
                            <div class="item">
                                <div class="store-box">
                                    <h4>BHUJ</h4>
                                    <p>Shop No.11,12, 2nd Floor, Kshetrapal Square, Opp. JB Thacker Commerce College, Bhuj-Mirzapar Road, Bhuj 370001</p>
                                    <div class="map-link"><a href="https://g.page/size-zero-bhuj" target="_blank">See Map</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header accordion-header-icon" data-bs-toggle="collapse" data-bs-target="#store5" aria-expanded="false" aria-controls="store5">
                    <div class="icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg></div>
                    JUNAGADH
                </h2>

                <div id="store5" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="store-box-wrap">
                            <div class="item">
                                <div class="store-box">
                                    <h4>JUNAGADH</h4>
                                    <p>PLATINUM-2, Near YES BANK, COLLEGE ROAD, JUNAGADH</p>
                                    <div class="map-link"><a href="https://g.page/size-zero-cafe---junagadh" target="_blank">See Map</a></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="store-box">
                                    <h4>DishDash Cafeteria</h4>
                                    <p>Agriculture Gate 2, Beside 7 Seas, Moti Baug, Junagadh, Gujarat 362001</p>
                                    <div class="map-link"><a href="https://maps.app.goo.gl/mxUjrYPdkQjfLP4U8" target="_blank">See Map</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header accordion-header-icon" data-bs-toggle="collapse" data-bs-target="#store6" aria-expanded="false" aria-controls="store6">
                    <div class="icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg></div>
                    VADODARA
                </h2>

                <div id="store6" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="store-box-wrap">
                            <div class="item">
                                <div class="store-box">
                                    <h4>VADODARA</h4>
                                    <p>GF-2, Satyam Apartments, Opposite 'Mandap' Showroom, Jetalpur Road, Vadodara-390007</p>
                                    <div class="map-link"><a href="https://g.page/size-zero-cafe--vadodara" target="_blank">See Map</a></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="store-box">
                                    <h4>PARUL UNIVERSITY</h4>
                                    <p>Parul University, Waghodiya, Vadodara</p>
                                    <div class="map-link"><a href="https://goo.gl/maps/z3KkXpcsgD8hxTwi8" target="_blank">See Map</a></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="store-box">
                                    <h4>BHAYLI</h4>
                                    <p>GF-11, Urban -2, Opp Aksharpavilion, Nr Priya Talkies, Vasna-Bhayli TP-2, Vadodara -391410</p>
                                    <div class="map-link"><a href="https://goo.gl/maps/HFVzW4mFKszFHQXe9" target="_blank">See Map</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header accordion-header-icon" data-bs-toggle="collapse" data-bs-target="#store7" aria-expanded="false" aria-controls="store7">
                    <div class="icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg></div>
                    GANDHINAGAR (INFOCITY)
                </h2>

                <div id="store7" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="store-box-wrap">
                            <div class="item">
                                <div class="store-box">
                                    <h4>GANDHINAGAR (INFOCITY)</h4>
                                    <p>Show Room no.18, Infocity, Super-mall ANNEXE, Near GH-0 Circle, Gandhinagar-382009</p>
                                    <div class="map-link"><a href="https://g.page/size-zero-infocity-gandhinagar" target="_blank">See Map</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header accordion-header-icon" data-bs-toggle="collapse" data-bs-target="#store8" aria-expanded="false" aria-controls="store8">
                    <div class="icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg></div>
                    SURENDRANAGAR
                </h2>

                <div id="store8" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="store-box-wrap">
                            <div class="item">
                                <div class="store-box">
                                    <h4>SURENDRANAGAR</h4>
                                    <p>Near Gokul Hotel, Jiintan Udhyognagar, Surendranagar-363002</p>
                                    <div class="map-link"><a href="https://goo.gl/maps/kkLiCK5BN19tfhfj8" target="_blank">See Map</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header accordion-header-icon" data-bs-toggle="collapse" data-bs-target="#store9" aria-expanded="false" aria-controls="store9">
                    <div class="icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg></div>
                    GANDHIDHAM
                </h2>

                <div id="store9" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="store-box-wrap">
                            <div class="item">
                                <div class="store-box">
                                    <h4>GANDHIDHAM</h4>
                                    <p>Om Crossways, Shop No.6, Ground Floor, Gandhidham 370201</p>
                                    <div class="map-link"><a href="https://goo.gl/maps/Dw3yo9VFM1yhuULJ9`" target="_blank">See Map</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header accordion-header-icon" data-bs-toggle="collapse" data-bs-target="#store10" aria-expanded="false" aria-controls="store10">
                    <div class="icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg></div>
                    VALSAD
                </h2>

                <div id="store10" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="store-box-wrap">
                            <div class="item">
                                <div class="store-box">
                                    <h4>VALSAD</h4>
                                    <p>Shop : B-6 , Pramukh Sannidhya Complex, Abrama Village, Valsad, Gujarat 396001</p>
                                    <div class="map-link"><a href="https://goo.gl/maps/chDhanz9udTVC6sGA" target="_blank">See Map</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header accordion-header-icon" data-bs-toggle="collapse" data-bs-target="#store11" aria-expanded="false" aria-controls="store11">
                    <div class="icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg></div>
                    DWARKA
                </h2>

                <div id="store11" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="store-box-wrap">
                            <div class="item">
                                <div class="store-box">
                                    <h4>DWARKA</h4>
                                    <p>Honest Hotel, Varvala, Dwarka - 361335</p>
                                    <div class="map-link"><a href="https://goo.gl/maps/f7Sm18W4pN3aMQ9K8" target="_blank">See Map</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header accordion-header-icon" data-bs-toggle="collapse" data-bs-target="#store12" aria-expanded="false" aria-controls="store12">
                    <div class="icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg></div>
                    NAVSARI
                </h2>

                <div id="store12" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="store-box-wrap">
                            <div class="item">
                                <div class="store-box">
                                    <h4>NAVSARI</h4>
                                    <p>G-80, Wilsonpoint, Gandevi Road, Opp. Vishalnagar, Navsari, Gujarat 396445</p>
                                    <div class="map-link"><a href="https://goo.gl/maps/QmQbQA3KpB5aVNm17" target="_blank">See Map</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header accordion-header-icon" data-bs-toggle="collapse" data-bs-target="#store13" aria-expanded="false" aria-controls="store13">
                    <div class="icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg></div>
                    AMRELI
                </h2>

                <div id="store13" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="store-box-wrap">
                            <div class="item">
                                <div class="store-box">
                                    <h4>AMRELI</h4>
                                    <p>V. Parikh Marg, Old, Market Yard Rd, behind Croma Store, Amreli Irrigation Division, D.L.B. Society, Amreli, Gujarat 365601</p>
                                    <div class="map-link"><a href="https://maps.app.goo.gl/57AWYnyCJGNEXo7aA?g_st=iw" target="_blank">See Map</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header accordion-header-icon" data-bs-toggle="collapse" data-bs-target="#store14" aria-expanded="false" aria-controls="store14">
                    <div class="icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg></div>
                    CHHATTISGARH
                </h2>

                <div id="store14" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="store-box-wrap">
                            <div class="item">
                                <div class="store-box">
                                    <h4>RAJNANDGAON</h4>
                                    <p>Nr. game zone, Rani sagar Choupati, Gaurav Path, opp. circuit house, Basantpur, Rajnandgaon, Chhattisgarh 491441</p>
                                    <div class="map-link"><a href="https://maps.app.goo.gl/E6FPaTaDMrndCWG18?g_st=iw" target="_blank">See Map</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>




