
@{
    ViewBag.Title = "terms";
}
<link href="~/Content/terms_style.css" rel="stylesheet" />

    <div class="inner-banner" >
        <div class="inner">
            <h2>Terms & Conditions</h2>
            <div class="breadcrumb-list-wrap">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li>Terms & Conditions</li>
                </ul>
            </div>
        </div>
    </div>

    <section>
        <div class="container">
            <h2 class="main-title">Terms & Conditions</h2>
            <p>By accessing the DishDash Website, you agree to the following Terms and Conditions. It is your own responsibility to ensure that you are fully aware of all of these Terms and Conditions of DishDash Food and Beverages Pvt. Ltd.</p>

            <h4>TERMS OF USE</h4>

            <p>Please read the following terms and conditions very carefully as your use of DishDash website DishDash.com and services offered by DishDash are subject to your acceptance of and compliance with the following terms and conditions.</p>

            <p>By browsing, accessing, subscribing to or using any of our services you agree that you have read, understood and are bound by the terms, regardless of how you subscribe to or use the services. In these terms, references to &quot;Website&quot; shall mean the DishDash website, &quot;you&quot;, &quot;user&quot; shall mean the end user accessing the Website, its contents and using the services offered through DishDash, &quot;Service Providers&quot; mean independent third party service providers, and &quot;we&quot;, &quot;us&quot; and &quot;our&quot; shall mean DishDash and its affiliates.</p>

            <p>DishDash reserves the right, at its sole discretion, to change, modify, add or remove portions of these Terms of Use, at any time. It is your responsibility to check these Terms of Use periodically for changes. Your continued use of the site following the posting of changes will mean that you accept and agree to the changes. As long as you comply with these terms, DishDash grants you a personal, non-exclusive, non-transferable, limited privilege to access and use the website and services offered by DishDash.</p>

            <p>We will not sell, share, or rent your personal information to any third party or use your e-mail address for unsolicited mail. Any emails sent by this Company will only be in connection with the provision of agreed services and products.</p>
        </div>
    </section>



