@{
    ViewBag.Title = "who";
}

<link href="~/Content/who_style.css" rel="stylesheet" />
    <div class="inner-banner">
        <div class="inner">
            <h2>Who are we?</h2>
            <div class="breadcrumb-list-wrap">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li>Who are we?</li>
                </ul>
            </div>
        </div>
    </div>


    <section class="p-0">
        <div class="about-content">
            <div class="row align-items-center">
                <div class="col-md-6 order-md-1">
                    <div class="inner">
                        <h2>Who are we?</h2>
                        <p>It started as a bunch of friends standing at a panipuriwala and figuring out life. We were all just out of college, stuck into a never-ending 9 to 5 loop and yet, full of energy to do something life-changing. We were looking for something people cannot live without, and there it struck- &quot;Panipuri&quot;. You can earn millions and millions but if you&rsquo;re an Indian, you just can&rsquo;t live without a panipuri.</p>

                        <p>Funny, but yes, a plate of panipuri (worth only? 20) changed our lives. And then, on the campus of Marwadi University, we opened our shutters in the name of Pani Puri Baba in 2015. It was a small shop with 26 others. But we weren&rsquo;t going to be left out. Apart from the good food, we had to do something that none of the 26 were doing.</p>

                        <p>So, we got a blackboard and just hung it outside our shop. And every day, we wrote something so funny that even if people didn&rsquo;t want to eat anything, they would still pass by to read the blackboard. Some would even click a snap and tag us on their Snapchat.</p>

                        <p>And that&rsquo;s how people got to know us. Good food and funny stories.</p>

                        <p>Today, we have made a successful business of over a million happy customers and 20+ franchises in 10+ cities of Gujarat, and still going on for more.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-content-img">
                        <img src="~/Content/index_img/about-img-1632636701.jpg" alt="Who are we?" class="d-block w-100" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-3">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="vision-box">
                        <div class="icon svg-image">
                            <img src="~/Content/index_img/vision.png" alt="" class="d-block" />
                        </div>
                        <div class="inner">
                            <h2 class="main-title">Vision</h2>
                            <p>Over six years and still counting, DishDash has consistently met and promised to continue meeting its core objective of pursuing a forever presence in the core of its beloved customers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="vision-box">
                        <div class="icon svg-image">
                            <img src="~/Content/index_img/mission.png" alt="" class="d-block" />
                        </div>
                        <div class="inner">
                            <h2 class="main-title">Mission</h2>
                            <p>It is to get into millennial's hearts with quirky ambiance and delicacies and serving style.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-0">
        <div class="container text-center">

            <img src="~/Content/index_img/snapchat.png" />
        </div>
    </section>

    <section class="founder-section pb-0 pt-0">
        <div class="container">
            <div class="mb-4 title fadeInUp wow" style="visibility: visible; animation-name: fadeInUp;">
                <h2>Our Founders</h2>
            </div>
            <div class="row align-items-end">
                <div class="col-md-6">
                    <div class="founder-box mt-0">
                        <h3 class="d-md-none">Jeel Butani</h3>
                        <div class="founder-img">
                            <img src="~/Content/index_img/jeelImg.png" alt="Ruchit Goswami" class="d-block mx-auto" />
                        </div>
                        <div class="founder-info">
                            <h3 class="d-none d-md-block">Jeel Butani</h3>
                            <h4>An engineer. And a foodie, obviously.</h4>
                            <p>A Computer engineer turned into a foodie. And a foodie turned into a businessman. Jeel focuses on sales, strategies, and expansion of DishDash. </p>
                            <ul class="social-list">
                                <li>
                                    <a href="#" target="_blank"><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512" class="svg-inline--fa fa-facebook-f fa-w-10 fa-3x"><path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" class=""></path></svg></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" class="svg-inline--fa fa-instagram fa-w-14 fa-3x"><path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" class=""></path></svg></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="founder-box">
                        <h3 class="d-md-none">Venisha Parmar</h3>
                        <div class="founder-img">
                            <img src="~/Content/index_img/VeniImg3.png" alt="Ankit Nanda" class="d-block mx-auto" />
                        </div>
                        <div class="founder-info">
                            <h3 class="d-none d-md-block">Venisha Parmar</h3>
                            <h4>An engineer. And a foodie, obviously. </h4>
                            <p>Venisha is also Computer engineer graduate and a third-generation into the food business. She focuses on operations, finance, and distribution. She possesses an intricate knowledge of store operations.</p>
                            <ul class="social-list">
                                <li>
                                    <a href="#" target="_blank"><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512" class="svg-inline--fa fa-facebook-f fa-w-10 fa-3x"><path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" class=""></path></svg></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" class="svg-inline--fa fa-instagram fa-w-14 fa-3x"><path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" class=""></path></svg></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
